<!-- Default form contact -->
<form class="text-center border border-light p-5
" [formGroup]="tripForm" (ngSubmit)="onSubmit(tripForm.value)">
        

    <p class="h4 mb-4">Sauvegarder un nouveau voyage</p>

    <!-- Name -->
    <label>Intitulé du voyage</label>
    <input type="text" formControlName="name" class="form-control mb-4" placeholder="Intitulé du voyage">

    <label>Charger une image</label>
    <input type="file" formControlName="photo" (change)="onFileSelected($event)" class="form-control" accept="image/*" >
    <p *ngIf="isUploded">Image <b>{{selectedFile.name}}</b> chargée</p>
    <button type="button" class="btn btn-secondary" *ngIf="selectedFile" (click)="onUpUpload()">Upload</button>

    <!-- Type -->
    <div class="form-group">
        <label>Type de voyage</label>
        <select formControlName="type" class="browser-default custom-select mb-4">
            <option value="" selected disabled>Choisir un type dans la liste déroulante</option>
            <option *ngFor='let item of (typesForm$ | async)' [value]="item.type" selected>{{item.type}}</option>
        </select>
    </div>

    <!-- Description -->
    <div class="form-group">
        <label>Description</label>
        <textarea formControlName="description" class="form-control rounded-0" rows="3" placeholder="Description"></textarea>
    </div>

    <!-- Copy 
    <div class="custom-control custom-checkbox mb-4">
        <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
        <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label>
    </div>-->

    <!-- Send button -->
    <button class="btn btn-info btn-block" type="submit">Sauvegarder</button>

</form>
<!-- Default form contact -->
