<div class="container">
    <form class="border border-light p-5" [formGroup]="tripForm" (ngSubmit)="onSubmit()">
        <h1 class="form-header">Sauvegarder un nouveau voyage</h1>

        <!-- Name -->
        <mat-form-field class="full-width">
            <mat-label>Intitulé du voyage (obligatoire)</mat-label>
            <input matInput type="text" required [formControl]="tripForm.get('name')" placeholder="Ex:Martinique" >
            <mat-error *ngIf="tripForm.get('name').hasError('required')">
                Le type du voyage est obligatoire
            </mat-error>
        </mat-form-field>

        <!-- TODO test material design for input file not working
        <input type="file" (change)="onFileSelected($event)" #fileInput accept="image/*" style="display: none">
        <mat-form-field >
            <input matInput formControlName="photo" placeholder="Fichier" readonly>
        </mat-form-field>
        <button mat-button formControlName="photo" (click)="fileInput.click()">Selectionner</button>
        <p *ngIf="isUploded">Image <b>{{selectedFile.name}}</b> chargée</p>
        <button mat-button *ngIf="selectedFile" (click)="onUpUpload()">Upload</button>
        -->

        <!-- Upload -->
        <div class="form-upload form-group half-width">
            <label>Charger une image (obligatoire)*</label>
            <input required [formControl]="tripForm.get('file')" type="file" (change)="onFileSelected($event)" class="form-control" accept="image/*" >
            <p *ngIf="isUploded">Image <b>{{selectedFile.name}}</b> chargée</p>

            <mat-error *ngIf="!isUploded && imageFormEmpty">
                L'image est obligatoire
            </mat-error>
        </div>

        <!-- Type -->
        <div class="form-group">
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Type de voyage (obligatoire)</mat-label>
                <mat-select required [formControl]="tripForm.get('type')">
                    <mat-option>Choisir un type dans la liste déroulante</mat-option>
                    <mat-option *ngFor='let item of (typesForm$ | async)' [value]="item">{{item.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="tripForm.get('type').hasError('required')">
                    Le type du voyage est obligatoire
                </mat-error>
            </mat-form-field>
        </div>

        <!-- Description -->
        <mat-form-field class="full-width">
            <mat-label>Description</mat-label>
            <textarea placeholder="Ex: Découverte d'une des plus belles régions du monde" matInput></textarea>
        </mat-form-field>

        <!-- Send button  -->
        <button class="button-submit btn" type="submit">Sauvegarder</button>

    </form>
</div>
