<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">

<div class="px-4 mb-3 mt-4">
  <!--Section: Magazine v.3-->
  <section class="magazine-section my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Ma liste de voyages</h2>

    <!-- Grid row -->
    <div class="row">


      <!-- Grid column -->
      <div *ngFor="let trip of trips" class="col-lg-4 col-md-12 mb-lg-0 mb-5">

        <!-- Featured news -->
        <div class="single-news mb-3">

          <!-- Image -->
          <div class="view overlay rounded z-depth-2 mb-4">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/86.jpg" alt="Sample image">
            <a>
              <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
            </a>
          </div>

          <!-- Grid row -->
          <div class="row mb-3">

            <!-- Grid column -->
            <div *ngIf="trip.type != 0" class="col-12">

              <!-- Badge -->
              <mdb-badge [ngStyle]="{'background-color': getColorTrip(trip.type)}">
                <svg-icon src="{{getIconTrip(trip.type)}}" [svgStyle]="{ 'width.px':20 ,'fill':'rgb(255,255,255)','padding.px':1,'margin.px':3 }"></svg-icon>
                {{trip.type}}
              </mdb-badge>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!-- Title -->
          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
              <a (click)="onSelect(trip)" class="font-weight-bold">{{trip.name}} - {{trip.id}}</a>
            </div>
            <a>
              <mdb-icon fas icon="angle-double-right"></mdb-icon>
            </a>
          </div>

        </div>
        <!-- Featured news -->

        <!-- Small news -->
        <div class="single-news mb-3">

          <!-- Title -->
          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
              <a>24 Food Swaps That Slash Calories.</a>
            </div>
            <a>
              <mdb-icon fas icon="angle-double-right"></mdb-icon>
            </a>
          </div>

        </div>
        <!-- Small news -->

        <!-- Small news -->
        <div class="single-news mb-3">

          <!-- Title -->
          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
              <a>How to Make a Beet Cocktail?</a>
            </div>
            <a>
              <mdb-icon fas icon="angle-double-right"></mdb-icon>
            </a>
          </div>

        </div>
        <!-- Small news -->

        <!-- Small news -->
        <div class="single-news mb-3">

          <!-- Title -->
          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
              <a>8 Sneaky Reasons You're Always Hungry.</a>
            </div>
            <a>
              <mdb-icon fas icon="angle-double-right"></mdb-icon>
            </a>
          </div>

        </div>
        <!-- Small news -->

        <!-- Small news -->
        <div class="single-news">

          <!-- Title -->
          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0">
              <a>5 Pressure Cooker Recipes You Need to Try.</a>
            </div>
            <a>
              <mdb-icon fas icon="angle-double-right"></mdb-icon>
            </a>
          </div>

        </div>
        <!-- Small news -->

      </div>
      <!-- Grid column -->





    </div>
    <!-- Grid row -->

  </section>
  <!--Section: Magazine v.3-->
</div>